.job-positions {
  .container {
    margin-bottom: 45px;

    @media screen and (min-width: $xl) {
      margin-bottom: 160px;
    }
  }
}

.job-positions__group {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  .position {
    cursor: pointer;
    display: block;
    font-weight: 200;
    padding-top: 20px;
    position: relative;

    @media screen and (min-width: $lg) {
      padding-top: 24px;
    }

    & > * {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &::before {
      background-color: $accent-color;
      content: "";
      height: 6px;
      left: 0;
      position: absolute;
      top: 0;
      transition: all ease-in-out 0.2s;
      width: 50px;
    }

    &__item {
      display: block;

      &--kind {
        font-size: 14px;
        line-height: 19px;

        @media screen and (min-width: $lg) {
          font-size: 18px;
          line-height: 25px;
        }
      }

      &--profession {
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;

        @media screen and (min-width: $md) {
          font-size: 24px;
          line-height: 33px;
        }
      }
    }
  }

  .position:focus::before,
  .position:hover::before {
    background-color: #ce3c3c;
    width: 10px;
  }
}
