.supply-schema {
  margin-bottom: 45px;

  @media screen and (min-width: $lg) {
    margin-bottom: 80px;
  }

  @media screen and (min-width: $xl) {
    margin-bottom: 100px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  &__caption {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 45px;

    @media screen and (min-width: $sm) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: $md) {
      font-size: 24px;
    }

    @media screen and (min-width: $lg) {
      font-size: 28px;
      line-height: 49px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: $xl) {
      margin-bottom: 50px;
      font-size: 30px;
    }
  }

  &__line {
    background-color: #ccc;
    height: 1px;
    width: 100%;
  }

  &__line-inner {
    width: 100%;
  }

  &__chain {
    position: relative;

    @media screen and (min-width: $sm) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $lg) {
      margin-bottom: 50px;
      padding: 45px 30px;
    }

    &--news {
      margin-bottom: 50px;
      @media screen and (min-width: $lg) {
        margin-bottom: 75px;
        // padding: 45px 30px 85px 30px;
        padding: 45px 0 85px 0;
      }
    }
  }

  &__ppt {
    padding-top: 10px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__image-wrapper {
    // padding: 0;
    max-width: 560px;
    height: fit-content;
  }

  &__line-inner {
    display: flex;
    justify-content: space-between;
    margin-top: -24px;
  }

  &__line-item {
    background-color: #ccc;
    border: 18px solid $white;
    box-sizing: content-box;
    cursor: pointer;
    height: 12px;
    position: relative;
    transition: all ease-in-out 0.2s;
    width: 12px;

    &:hover,
    &:focus {
      background-color: #ce3c3c;
    }

    &.glide__bullet--active {
      background-color: $accent-color;
    }

    &.glide__bullet--fake {
      margin-top: -24px;
    }

    .supply-schema__descr {
      display: none;

      @media screen and (min-width: $lg) {
        box-sizing: border-box;
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        left: 50%;
        line-height: 33px;
        padding: 0 50px;
        position: absolute;
        text-align: center;
        top: 35px;
        transform: translateX(-50%);
        width: 228px;
      }

      @media screen and (min-width: $xl) {
        width: 276px;
      }

      &--news {
        display: block;
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
        text-align: left;
        position: absolute;
        width: 86px;
        left: -18px;
        top: 37px;
        transform: translateX(0);
        padding: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media screen and (min-width: $lg) {
          font-size: 20px;
          line-height: 33px;
          top: 35px;
          text-align: left;
          width: 220px;
          left: -18px;
          transform: translateX(0);
          padding: 0;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      &--fake {
        display: block;
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
        text-align: left;
        position: absolute;
        left: -11px;
        top: 37px;
        transform: translateX(0);
        padding: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media screen and (min-width: $lg) {
          font-size: 20px;
          line-height: 33px;
          top: 35px;
          width: 100px;
          padding: 0;
          left: -18px;
        }
      }
    }

    &:last-child span {
      background-image: none;
    }
  }

  .glide__slide--active {
    margin-left: 10px;
    margin-right: 10px;
  }
}
