$bar-length: 32px;
$primary: #fff;
$bar-radius: 2px;

.sandwich {
  cursor: pointer;
  outline: none;
  display: flex;
  height: 40px;
  justify-content: center;
  position: relative;
  transition: 0.2s ease-in-out;
  width: 40px;

  @media screen and (min-width: $lg) {
    height: 30px;
    transform: rotate(90deg);
    width: 32px;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &__bars {
    background-color: $primary;
    border-radius: $bar-radius;
    display: block;
    height: 6px;
    position: relative;
    top: 50%;
    width: $bar-length;

    &::before,
    &::after {
      background-color: $primary;
      border-radius: $bar-radius;
      content: "";
      display: block;
      height: 6px;
      left: 0;
      position: absolute;
      top: 0;
      transition: 0.2s ease-in-out;
      width: $bar-length;
      will-change: transform;
    }

    &::before {
      transform: translateY(-(6px * 1.5));
    }

    &::after {
      transform: translateY((6px * 1.5));
    }

    @media screen and (min-width: $lg) {
      height: 8px;

      &::before,
      &::after {
        height: 8px;
      }

      &::before {
        transform: translateY(-(8px * 1.4));
      }

      &::after {
        transform: translateY((8px * 1.4));
      }
    }
  }

  &.is-active {
    transform: rotate(-45deg);

    @media screen and (min-width: $lg) {
      transform: rotate(90deg);
    }

    .sandwich__bars {
      &::before,
      &::after {
        transform: translateX(0) rotate(-90deg);
      }

      @media screen and (min-width: $lg) {
        &::before,
        &::after {
          transform: none;
        }

        &::before {
          transform: translateY(-(8px * 1.4));
        }

        &::after {
          transform: translateY((8px * 1.4));
        }
      }
    }
  }
}
