.company-info {
   &:not(:last-child) {
      margin-bottom: 45px;
   }

   @media screen and (min-width: $lg) {
      &:not(:last-child) {
         margin-bottom: 80px;
      }
   }

   @media screen and (min-width: $xl) {
      &:not(:last-child) {
         margin-bottom: 160px;
      }
   }

   &__row {
      justify-content: space-between;
   }

   &__col {
      &:not(:last-child) {
         margin-bottom: 20px;

         @media screen and (min-width: $md) {
            margin-bottom: 0;
         }
      }
   }

   &__wrapper {
      border-left: 6px solid $accent-color;
      height: 100%;
      padding: 15px;

      @media screen and (min-width: $lg) {
         padding: 0;
         padding-bottom: 15px;
         padding-left: 30px;
         padding-top: 15px;
      }
   }

   &__caption {
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 20px;

      @media screen and (min-width: $lg) {
         font-size: 36px;
         line-height: 49px;
         margin-bottom: 30px;
      }
   }

   &__image-wrapper {
      padding: 0;

      @media screen and (min-width: $sm) {
         max-height: 470px;
         max-width: 470px;
         padding: 0 15px;
      }
   }
}
