.list {
   font-weight: 200;

   &__item {
      margin-bottom: 15px;
      padding-left: 20px;
      position: relative;

      &:last-child {
         margin-bottom: 0;
      }

      &::before {
         background-color: #23c1c1;
         content: "";
         height: 6px;
         left: 0;
         position: absolute;
         top: 8px;
         width: 6px;
      }
   }
}
