.process-nav {
   &__list {
      align-items: center;
      display: flex;
      overflow-x: auto;
   }

   li {
      cursor: pointer;
      font-weight: 400;
      padding: 10px 15px;
      white-space: nowrap;

      @media screen and (min-width: $md) {
         padding: 10px 20px;
      }

      &--active {
         border-bottom: 2px solid $accent-color;
      }

      span {
         font-size: 16px;
         line-height: 22px;

         @media screen and (min-width: $lg) {
            font-size: 18px;
            line-height: 25px;
         }
      }
   }
}
