.page-description {
  font-weight: 200;
  max-width: 570px;
  text-align: left;

  &__title {
    color: #1a1a1a;
    display: block;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 25px;

    @media screen and (min-width: $md) {
      font-size: 24px;
    }

    @media screen and (min-width: $lg) {
      font-size: 28px;
      line-height: 38px;
    }

    @media screen and (min-width: $xl) {
      font-size: 30px;
      line-height: 49px;
    }
  }

  &__text {
    margin-bottom: 24px;
    @media screen and (min-width: $md) {
      margin-bottom: 30px;
    }
  }
}
