.services-process {
   font-weight: 400;
   margin-bottom: 30px;

   @media screen and (min-width: $lg) {
      margin-bottom: 80px;
   }

   &__title {
      margin-bottom: 20px;

      @media screen and (min-width: $lg) {
         margin-bottom: 55px;
      }
   }

   &__sub-title {
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 30px;

      @media screen and (min-width: $sm) {
         margin-bottom: 15px;
      }

      @media screen and (min-width: $md) {
         margin-bottom: 15px;
      }
   }

   &__nav {
      margin-bottom: 40px;

      @media screen and (min-width: $lg) {
         margin-bottom: 50px;
      }
   }

   &__item {
      text-align: center;
   }

   &__text-col {
      padding-bottom: 20px;
      text-align: center;

      @media screen and (min-width: $sm) {
         padding-bottom: 0;
      }

      @media screen and (min-width: $md) {
         padding-top: 50px;
      }

      @media screen and (min-width: $lg) {
         padding-top: 50px;
      }
   }
}
