.btn {
  background-color: transparent;
  border: 2px solid $accent-color;
  border-radius: 4px;
  color: $accent-color;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 800;
  height: 35px;
  line-height: 19px;
  margin: 0;
  overflow: hidden;
  padding-left: 70px;
  padding-right: 70px;
  position: relative;
  text-align: center;
  width: 264px;

  span {
    display: block;
    transition: all ease-in-out 0.3s;
  }

  &::after {
    background-color: $accent-color;
    background-image: url("/images/general/white-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 20px;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all ease-in-out 0.2s;
    width: 70px;
  }

  &:hover,
  &:focus {
    span {
      transform: translateX(-20px);
    }

    &::after {
      opacity: 1;
    }
  }

  &:active {
    &::after {
      opacity: 0.7;
    }
  }

  @media screen and (min-width: $lg) {
    font-size: 16px;
    height: 50px;
    line-height: 22px;
    width: 368px;
  }

  &--contact {
    border: 2px solid #191919;
    color: #191919;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    line-height: 22px;
    width: 100%;

    &::after {
      background-color: #191919;
    }
  }
}
