.sub-caption {
  color: $title-color;
  font-size: 18px;
  font-weight: 200;
  line-height: 25px;

  @media screen and (min-width: $lg) {
    font-size: 22px;
    line-height: 33px;
  }

  @media screen and (min-width: $xl) {
    font-size: 22px;
    line-height: 33px;
  }

  @media screen and (min-width: $hd) {
    font-size: 28px;
    line-height: 40px;
  }
}
