.tab-slide {
  @media screen and (min-width: $lg) {
    display: flex;
    flex-direction: column;
  }

  &__image-wrapper {
    margin-bottom: 20px;
    overflow: hidden;

    @media screen and (min-width: $lg) {
      order: 0;
    }

    img {
      max-height: 300px;
    }
  }

  &__header {
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width: $lg) {
      width: 73%;
      margin-bottom: 70px;
      order: 1;
      text-align: left;
    }
  }

  &__body {
    margin-bottom: 20px;

    @media screen and (min-width: $lg) {
      width: 73%;
      margin-bottom: 30px;
      order: 2;
    }
  }

  &__footer {
    @media screen and (min-width: $lg) {
      width: 73%;
      order: 3;
    }
  }

  &__caption {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 25px;

    @media screen and (min-width: $lg) {
      font-size: 36px;
      line-height: 49px;
    }
  }

  &__sub-caption {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 10px;
  }

  &__paragraph {
    margin-bottom: 20px;
  }
}
