.about-company {
  color: $white;
  font-size: 48px;
  font-weight: 800;
  line-height: 65px;

  &:not(:last-child) {
    margin-bottom: 45px;
  }

  @media screen and (min-width: $lg) {
    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }

  @media screen and (min-width: $xl) {
    &:not(:last-child) {
      margin-bottom: 160px;
    }
  }

  &__col {
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: $sm) {
      padding: 0 15px;
    }

    @media screen and (min-width: $md) {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 320px;
    position: relative;
    text-align: center;

    &-wrapper {
      align-items: center;
      display: flex;
      position: absolute;
      z-index: 1;
    }

    @media screen and (min-width: $md) {
      font-size: 26px;
      min-height: auto;
    }

    @media screen and (min-width: $lg) {
      font-size: 36px;
      line-height: 49px;
    }
  }

  &__image-wrapper {
    position: relative;
    width: 100%;

    &::after {
      background: linear-gradient(
        110.28deg,
        rgba(0, 0, 0, 0.3) 18.5%,
        rgba(0, 0, 0, 0.15) 88.78%
      );
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:hover {
      &::after {
        background: linear-gradient(
          110.28deg,
          rgba(0, 0, 0, 0.45) 18.5%,
          rgba(0, 0, 0, 0.3) 88.78%
        );
      }
    }
  }

  &__arrow-icon {
    fill: #fff;
    height: 30px;
    margin-left: 20px;
    width: 45px;

    @media screen and (min-width: $md) {
      height: 20px;
      width: 30px;
    }
  }
}

.careers {
  &:not(:last-child) {
    margin-bottom: 45px;
  }

  @media screen and (min-width: $lg) {
    &:not(:last-child) {
      margin-bottom: 160px;
    }
  }
}
.careers-prev {
  cursor: pointer;
  font-weight: 800;
  height: 480px;
  overflow: hidden;
  padding: 30px 15px;
  position: relative;
  width: 100%;

  @media screen and (max-width: $md) {
    height: 300px;
  }

  &::after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:hover {
    .careers-prev__image {
      transform: scale(1.05);
    }
  }

  @media screen and (min-width: $md) {
    height: 320px;
  }

  @media screen and (min-width: $xl) {
    height: 320px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: $lg) {
      margin-bottom: 80px;
    }
  }

  @media screen and (min-width: $lg) {
    padding: 60px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  &__caption {
    color: $white;
    display: block;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 10px;

    @media screen and (min-width: $lg) {
      font-size: 36px;
      line-height: 40px;
    }

    &-accent {
      color: $accent-color;
    }
  }

  &__description {
    color: $white;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 18px;
    max-width: 360px;
    opacity: 0.8;

    @media screen and (min-width: $md) {
      text-align: left;
    }

    @media screen and (min-width: $lg) {
      font-size: 16px;
      font-weight: 200;
      line-height: 22px;
      margin: 0;
      margin-bottom: 30px;
      max-width: 100%;
      text-align: left;
    }
  }

  &__image {
    height: 540px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    transition: all 1s ease-out;
    width: 100%;

    @media screen and (min-width: $lg) {
      height: 434px;
    }

    @media screen and (min-width: $xl) {
      height: 540px;
    }
  }
}
