.blog-posts {
  // margin-bottom: 20px;

  // @media screen and (min-width: $xl) {
  //   margin-bottom: 20px;
  // }
  .container {
    @media screen and (min-width: $sm) {
      padding: 0 15px;
    }
  }

  &__row {
    &:not(:last-child) {
      // margin-bottom: 30px;

      @media screen and (min-width: $lg) {
        // margin-bottom: 60px;
      }
    }
  }

  &__col {
    padding: 0 15px;
    margin-bottom: 40px;
    @media screen and (min-width: $sm) {
      padding: 0 15px;
    }

    @media screen and (max-width: $lg) {
      margin-bottom: 40px;
    }
  }
}
