.processes {
  &:not(:last-child) {
    margin-bottom: 45px;

    @media screen and (min-width: $lg) {
      margin-bottom: 55px;
    }
  }

  &__caption {
    font-size: 24px;
    margin-bottom: 20px;

    @media screen and (min-width: $md) {
      font-size: 24px;
    }

    @media screen and (min-width: $lg) {
      font-size: 28px;
      margin-bottom: 50px;
    }

    @media screen and (min-width: $xl) {
      font-size: 30px;
      margin-bottom: 50px;
    }
  }

  &__wrapper {
    &:not(:last-child) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: $lg) {
      display: flex;
    }
  }
}
