.menu-preview {
   &__item {
      padding-top: 110px;

      &--main {
         padding-top: 0;

         .menu-preview__image-wrapper {
            margin-bottom: 50px;
         }
      }
   }

   &__item-caption {
      font-size: 32px;
      font-weight: 800;
      line-height: 44px;

      @media screen and (min-width: $lg) {
         font-size: 36px;
         line-height: 49px;
      }
   }

   &__image-wrapper {
      margin-bottom: 15px;
   }

   &__item-text {
      margin-bottom: 20px;
   }
}
