.banner {
  background: linear-gradient(150.57deg, #082334 20.83%, #082231 77.87%);
  color: $white;
  height: 480px;
  // margin-bottom: 45px;
  padding-bottom: 10px;
  padding-top: 30px;
  width: 100%;

  @media screen and (min-width: $md) {
    height: 320px;
  }

  @media screen and (min-width: $lg) {
    background-image: url('/images/general/banner-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 332px;
    // margin-bottom: 80px;
    padding: 34px 0;
  }

  @media screen and (min-width: $xl) {
    height: 320px;
  }

  &__image-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;

    @media screen and (min-width: $md) {
      justify-content: flex-end;
    }

    img {
      width: 306px;
      height: auto;
      mix-blend-mode: screen;
    }
  }

  &__caption {
    color: $white;
    margin-bottom: 18px;
    text-align: center;

    @media screen and (min-width: $lg) {
      text-align: left;
    }

    &-accent {
      color: $accent-color;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 19px;
    margin: 0 auto;
    margin-bottom: 18px;
    max-width: 360px;
    opacity: 0.8;
    text-align: center;

    @media screen and (min-width: $md) {
      text-align: left;
    }

    @media screen and (min-width: $lg) {
      font-size: 16px;
      font-weight: 200;
      line-height: 22px;
      margin: 0;
      margin-bottom: 30px;
      max-width: 100%;
      text-align: left;
    }
  }

  &__btn {
    margin: 0 auto;

    @media screen and (min-width: $md) {
      margin: 0;
    }
  }

  &__row {
    align-items: center;

    @media screen and (min-width: $lg) {
      justify-content: space-between;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @media screen and (min-width: $md) {
      align-items: flex-start;
      margin-bottom: 0;
    }

    @media screen and (min-width: $lg) {
      display: initial;
    }
  }
}
