.main-nav {
  &__list {
    color: $text-color;
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    justify-content: flex-end;
    min-width: 478px;

    & > * {
      &:not(:last-child) {
        margin-right: 29px;
      }
    }
  }

  &__item {
    position: relative;

    &-count {
      background-color: $red;
      border-radius: 50%;
      color: $white;
      display: inline-block;
      font-size: 10px;
      height: 16px;
      line-height: 16px;
      position: absolute;
      text-align: center;
      width: 16px;
    }

    &:last-child {
      margin-left: 10px;

      &::before {
        background-color: $accent-color;
        content: '';
        height: 6px;
        left: -20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 6px;
      }
    }
  }

  &__link {
    transition: all ease-in-out 0.2s;

    &:hover,
    &:focus {
      color: rgba(35, 193, 193, 0.5) !important;
    }

    &:active {
      color: rgba(35, 193, 193, 0.7) !important;
    }
  }
}
