.services {
  &:not(:last-child) {
    margin-bottom: 45px;
  }

  @media screen and (min-width: $lg) {
    &:not(:last-child) {
      margin-bottom: 120px;
    }
  }

  &__col {
    padding: 0 25px !important;
    &:not(:last-child) {
      margin-bottom: 30px;
      @media screen and (min-width: $lg) {
        margin-bottom: 40px;
      }
    }
  }

  &__promo {
    margin-bottom: 60px;
  }

  &__promo-text {
    margin-bottom: 20px;
  }

  &__item {
    padding-top: 8px;
    position: relative;

    @media screen and (min-width: $md) {
      padding-top: 20px;
    }

    &::before {
      background-color: #23c1c1;
      content: '';
      height: 4px;
      left: 0;
      position: absolute;
      top: 0;
      width: 50px;

      @media screen and (min-width: $md) {
        height: 6px;
      }
    }
  }

  &__item-caption {
    display: block;
    margin-bottom: 10px;

    @media screen and (min-width: $md) {
      font-size: 22px;
      line-height: 33px;
    }
  }

  &__item-text {
    font-size: 14px;
    line-height: 19px;
    p {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    @media screen and (min-width: $md) {
      font-size: 18px;
      line-height: 25px;
    }
  }
}
