.video {
   color: $white;
   font-weight: 800;

   &:not(:last-child) {
      margin-bottom: 45px;

      @media screen and (min-width: $lg) {
         margin-bottom: 80px;
      }

      @media screen and (min-width: $xl) {
         margin-bottom: 160px;
      }
   }

   &__row {
      position: relative;
   }

   &__col {
      padding: 0;
      position: relative;

      @media screen and (min-width: $sm) {
         padding: 0 15px;
      }

      @media screen and (min-width: $lg) {
         img {
            height: 434px;
         }
      }

      @media screen and (min-width: $xl) {
         img {
            height: 540px;
         }
      }
   }

   &__title {
      font-size: 28px;
      font-weight: 800;
      line-height: 38px;
      position: relative;
      z-index: 10;

      @media screen and (min-width: $lg) {
         font-size: 48px;
         line-height: 65px;
      }
   }

   &__preview {
      left: 0;
      padding: 0 15px;
      position: absolute;
      top: 0;
      z-index: 1;
   }

   &__play-btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      height: 50px;
      left: 50%;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 45px;
      z-index: 10;

      @media screen and (min-width: $lg) {
         height: 80px;
         width: 72px;
      }
   }

   &__play-icon {
      height: 50px;
      width: 45px;

      @media screen and (min-width: $lg) {
         height: 80px;
         width: 72px;
      }
   }

   &__info {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      padding: 30px 16px;
      position: absolute;
      width: 100%;

      @media screen and (min-width: $sm) {
         padding: 30px 40px;
      }

      @media screen and (min-width: $lg) {
         align-items: flex-end;
         flex-direction: row;
      }
   }

   &__author-name {
      font-size: 18px;
      line-height: 25px;
      padding-top: 13px;
      position: relative;
      z-index: 10;

      &::before {
         background-color: $white;
         content: "";
         height: 6px;
         left: 0;
         position: absolute;
         top: 0;
         width: 50px;
      }
   }
}
