.offer-info {
  margin-bottom: 120px;
  &__caption {
    margin-bottom: 20px;
    font-size: 26px;

    @media screen and (min-width: 762px) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: $lg) {
      margin-bottom: 30px;
      font-size: 30px;
    }
  }

  &__group-title {
    display: block;
    font-size: 22px;
    font-weight: 800;
    line-height: 33px;
    margin-bottom: 15px;

    // @media screen and (min-width: $lg) {
    //   font-size: 36px;
    //   font-weight: 700;
    //   line-height: 49px;
    //   margin-bottom: 30px;
    // }

    @media screen and (min-width: $md) {
      font-size: 24px;
    }

    @media screen and (min-width: $lg) {
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: $xl) {
      font-size: 30px;
      line-height: 49px;
    }
  }

  &__wrapper {
    max-width: 970px;
  }

  &__group {
    &:not(:last-child) {
      margin-bottom: 30px;

      @media screen and (min-width: $lg) {
        margin-bottom: 60px;
      }
    }
  }
}
