.stage {
  margin-bottom: 20px;
  padding-top: 10px;

  @media screen and (min-width: $lg) {
    margin-bottom: 0;
    padding-top: 0;
  }

  &__list {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 30px;

    @media screen and (min-width: $lg) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__caption {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
    padding-top: 20px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    &:hover,
    &:focus {
      color: #23c1c1;
    }

    &:active {
      color: #23c1c1;
    }

    @media screen and (min-width: $md) {
      font-size: 22px;
      line-height: 33px;
      padding-top: 0;
    }

    @media screen and (min-width: $lg) {
      font-size: 22px;
      line-height: 33px;
    }

    @media screen and (min-width: $xl) {
      font-size: 24px;
      line-height: 38px;
    }
  }

  &__text {
    margin-bottom: 30px;
  }

  &__group-title {
    background-position: left center;
    background-repeat: no-repeat;
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 20px;
    padding-left: 40px;

    @media screen and (min-width: $lg) {
      margin-bottom: 25px;
    }

    &--hand-icon {
      background-image: url('/images/icons/hand.svg');
    }

    &--heart-icon {
      background-image: url('/images/icons/heart.svg');
    }

    &--supply {
      padding-left: 0;
    }
  }
}
