.menu {
  background-color: #fff;
  min-height: 606px;
  min-width: 320px;
  position: absolute;
  top: 75px;
  transform: translateY(-100%);
  transition: transform ease-in-out 0.4s;
  width: 100vw;
  z-index: 1;

  @media screen and (min-width: $lg) {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 100%;
    left: 0;
    min-height: 100vh;
    top: 0;
    transform: translateY(0) translateX(-100%);
    transition: transform ease-in-out 0.4s;
  }

  &.is-active {
    box-shadow: 0 0 100px -45px rgba(0, 0, 0, 0.5);
    transform: translateY(0);

    @media screen and (min-width: $lg) {
      transform: translateY(0) translateX(0);
    }
  }

  .container--menu {
    max-width: 100%;

    @media screen and (min-width: $lg) {
      display: flex;
      max-width: 960px;
      padding-left: 120px;
    }

    @media screen and (min-width: $xl) {
      max-width: 1140px;
    }

    @media screen and (min-width: 1400px) {
      max-width: 1200px;
    }

    @media screen and (min-width: 1700px) {
      padding-left: 15px;
    }
  }

  &__nav {
    padding-bottom: 44px;
    padding-top: 25px;

    @media screen and (min-width: $lg) {
      height: 100%;
      padding: 0;
      width: 50%;
    }

    &-btn {
      margin-bottom: 36px;
    }
  }

  &__info-nav {
    display: none;

    @media screen and (min-width: $lg) {
      display: flex;
      width: 50%;
    }
  }

  &__previews {
    margin: auto;
  }

  &__list {
    font-weight: 800;
    text-align: right;

    @media screen and (min-width: $lg) {
      text-align: left;
    }

    a {
      display: block;
      transition: all ease-in-out 0.3s;

      &:hover,
      &:focus {
        color: $accent-color;
      }

      &:active {
        color: $red;
        opacity: 0.8;
      }

      @media screen and (min-width: $lg) {
        display: inline-block;
      }
    }
  }

  &__link {
    font-size: 26px;
    line-height: 38px;
    padding: 8px 0;

    &--active {
      color: $accent-color;
    }

    @media screen and (min-width: $lg) {
      font-size: 28px;
      line-height: 45px;
    }

    @media screen and (min-width: $xl) {
      font-size: 32px;
      line-height: 45px;
    }
  }
}

.menu-close-btn {
  height: 30px;
  transition: all ease-in-out 0.3s;
  width: 45px;
  margin-bottom: 36px;

  @media screen and (max-width: $sm) {
    margin-bottom: 5px;
  }
}

.menu-close-btn__icon {
  height: 30px;
  transform: rotate(-180deg);
  width: 45px;
}
