.expertise {
  &:not(:last-child) {
    margin-bottom: 45px;

    @media screen and (min-width: $lg) {
      margin-bottom: 80px;
    }

    @media screen and (min-width: $xl) {
      margin-bottom: 160px;
    }
  }

  &__row {
    justify-content: space-between;
  }

  &__col {
    margin-bottom: 20px;

    @media screen and (min-width: $md) {
      margin-bottom: 0;
    }
  }

  &__heading {
    @media screen and (min-width: $lg) {
      margin-bottom: 30px;
    }
  }

  &__caption {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 10px;

    @media screen and (min-width: $lg) {
      margin-bottom: 20px;
    }
  }

  &__wrapper {
    margin-bottom: 20px;

    @media screen and (min-width: $lg) {
      margin-bottom: 40px;
    }
  }

  &__col-position {
    margin-bottom: 40px;
  }

  &__positions {
    margin-bottom: 60px;
  }

  &__image-wrapper {
    padding: 0;
    //  max-width: 500px;
    //  height: auto;

    @media screen and (min-width: $sm) {
      padding: 0 15px;
    }
  }
}
