.processes-section {
   &__main-caption {
      margin-bottom: 10px;

      @media screen and (min-width: $lg) {
         margin-bottom: 40px;
      }

      @media screen and (min-width: $xl) {
         margin-bottom: 60px;
      }
   }

   &__caption {
      display: block;
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 20px;
   }

   &__nav {
      display: flex;
      margin-bottom: 30px;
   }

   &__text-col {
      margin-bottom: 20px;
      text-align: center;

      @media screen and (min-width: $md) {
         display: flex;
         flex-direction: column;
         justify-content: center;
         margin-bottom: 0;
      }
   }

   &__sub-title {
      margin-bottom: 30px;

      @media screen and (min-width: $xl) {
         font-size: 24px;
         line-height: 33px;
      }
   }

   &__row {
      &:not(:last-child) {
         margin-bottom: 30px;
      }

      @media screen and (min-width: $md) {
         &:not(:last-child) {
            margin-bottom: 40px;
         }
      }

      @media screen and (min-width: $lg) {
         &:not(:last-child) {
            margin-bottom: 60px;
         }
      }
   }

   &__position {
      padding: 0;

      &:not(:last-child) {
         margin-bottom: 30px;
      }
   }

   &__col {
      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }
}
