.hero-link {
  color: #23c1c1;
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  padding: 2px 0;
  position: relative;

  &--sm {
    font-size: 18px !important;
  }

  &::after {
    background-color: rgba(35, 193, 193, 0.5);
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    transition: all ease-in-out 0.5s;
    width: 100%;
  }

  &:hover,
  &:focus {
    color: #ce3c3c;
    transition: all ease-in-out 0.2s;

    &::after {
      background-color: rgba(206, 60, 60, 0.5);
      color: rgba(206, 60, 60, 0.5);
      left: 50%;
      width: 10px;
    }
  }

  &:active {
    color: rgba(206, 60, 60, 0.7);

    &::after {
      display: none;
    }
  }

  @media screen and (min-width: $lg) {
    font-size: 22px;
    line-height: 33px;
  }

  @media screen and (min-width: $hd) {
    font-size: 22px;
    line-height: 38px;
  }
}
