.footer {
  background-color: $grey;
  color: $text-color;
  padding-bottom: 30px;
  padding-top: 20px;
  width: 100%;

  &__row {
    justify-content: center;
    & > * {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $lg) {
      justify-content: space-between;
    }

    @media screen and (max-width: $xl) {
      flex-direction: column;
    }
  }

  @media screen and (min-width: $lg) {
    // margin-top: 80px;
    padding-top: 60px;
  }

  @media screen and (min-width: $xl) {
    // margin-top: 120px;
  }

  &__feedback {
    @media screen and (max-width: $xl) {
      margin: 0 auto 50px;
    }
  }

  &__caption {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 34px;
    white-space: nowrap;
    font-size: 30px;

    @media screen and (min-width: $lg) {
      margin-bottom: 26px;
    }
  }

  &__col-title {
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    line-height: 22px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__soc {
    display: flex;
    flex-direction: column;
  }

  &__soc-title {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 5px;
  }

  &__soc-link {
    display: block;
    font-size: 14px;
    font-weight: 200;
    line-height: 19px;
    margin-bottom: 10px;
  }

  &__copyright {
    display: inline-block;
    font-size: 14px;
    font-weight: 200;
    line-height: 19px;
    margin-top: 30px;
  }
}

.contacts-list--navigation {
  display: block;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  li {
    // @media screen and (max-width: $lg) {
    //   &:nth-of-type(1) {
    //     width: 70%;
    //   }
    // }

    // @media screen and (max-width: $md) {
    //   &:nth-of-type(1) {
    //     width: 73%;
    //   }
    // }
  }
}

.contacts-list__item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &--menu {
    font-size: 24px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $lg) {
      font-size: 20px;
    }
  }
}

.contacts-list__link {
  transition: 0.2s ease-in-out;
  white-space: nowrap;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  &:hover,
  &:focus {
    color: #23c1c1;
  }

  &:active {
    color: #23c1c1;
  }

  &--menu {
    font-size: 24px;
    margin-bottom: 12px;
  }
}

.no-hover {
  transition: none;
  cursor: default;
  &:hover,
  &:focus {
    color: inherit;
  }

  &:active {
    color: inherit;
  }
}

.footer__text {
  margin-bottom: 30px;
  text-align: left;
}

.footer__img {
  width: 140px;
  height: 140px;
  min-width: 140px;
  margin-right: 30px;

  img {
    width: inherit;
    height: inherit;
  }

  @media screen and (max-width: $lg) {
    display: none;
  }

  &--menu {
    width: 170px;
    height: 170px;

    @media screen and (max-width: $lg) {
      width: 140px;
      height: 140px;
    }
  }
}

.contacts-group {
  @media screen and (max-width: $xl) {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (max-width: $lg) {
    flex-direction: row-reverse;
  }

  @media screen and (max-width: $md) {
    // justify-content: space-between;
  }

  @media screen and (max-width: 355px) {
    flex-direction: column;
  }

  &--menu {
    @media screen and (max-width: $xl) {
      flex-direction: column;
    }
  }

  &--logos {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    a {
      margin-right: 30px;
      cursor: pointer;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &--logos-menu {
    padding-top: 40px;

    .contacts-group__logo {
      width: 49px;
      height: 49px;
    }
  }
}

.btn--contact {
  margin-bottom: 42px;
}

.footer-cont {
  margin-bottom: 40px;
  display: flex;
  padding: 0;
  @media screen and (max-width: $lg) {
    padding: 0 15px;
  }

  @media screen and (max-width: $md) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (max-width: 350px) {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
  }

  &--menu {
    margin-bottom: 60px;
  }
}

.footer-cont {
  .contacts-list {
    @media screen and (max-width: $md) {
      width: 100%;
    }
  }
}

.contacts-list__title {
  display: flex;
  flex-grow: 2;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 9px;

  &--sm {
    font-weight: 600;
  }

  &--menu {
    font-size: 28px;
    line-height: 44px;

    @media screen and (max-width: $lg) {
      font-size: 22px;
      line-height: 25px;
    }
  }
}

.contacts-group__title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
  margin-bottom: 15px;

  @media screen and (max-width: $xl) {
    font-size: 20px;
  }

  @media screen and (max-width: $md) {
    font-size: 18px;
  }
}

.footer_menu {
  @media screen and (max-width: $xl) {
    margin-bottom: 50px;
  }

  @media screen and (max-width: $lg) {
    margin: 0 auto 50px auto;
    padding-top: 20px;
  }

  @media screen and (max-width: $sm) {
    margin: 0 auto 30px auto;
  }

  & > div {
    @media screen and (max-width: $lg) {
      // margin: 0 auto;
      margin: 0 auto 50px auto;
    }
  }
  ul {
    @media screen and (max-width: $xl) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @media screen and (max-width: $lg) {
      flex-direction: column;
      max-height: 200px;
      flex-wrap: wrap;
    }

    @media screen and (max-width: $md) {
      flex-wrap: wrap;
      flex-direction: column;
    }
    li {
      @media screen and (max-width: $sm) {
        margin-right: 0;
      }

      @media screen and (max-width: 350px) {
        padding: 0 !important;
        font-size: 16.5px;
      }
    }
  }
}

.contacts-col {
  @media screen and (max-width: $xl) {
    flex: 0 0 auto !important;
    max-width: fit-content !important;
  }

  @media screen and (max-width: $lg) {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}
.contacts-people {
  @media screen and (max-width: $lg) {
    margin: 0 auto;
  }
}

.contacts-group__logo {
  width: 35px;
  height: 35px;

  &--contact {
    width: 49px;
    height: 49px;
  }
}
