.partners {
  &:not(:last-child) {
    margin-bottom: 45px;
  }

  @media screen and (min-width: $lg) {
    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }

  @media screen and (min-width: $xl) {
    &:not(:last-child) {
      margin-bottom: 160px;
    }
  }

  &__item {
    padding: 0 25px !important;
    &:not(:last-child) {
      margin-bottom: 50px;
    }

    @media screen and (min-width: $md) {
      &:nth-last-of-type(-n + 3) {
        margin-bottom: 0;
      }
    }
  }

  &__item-image {
    height: auto;
    margin-bottom: 20px;
    max-width: 100%;
  }

  &__item-title {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 10px;

    @media screen and (min-width: $sm) {
      font-size: 20px;
    }

    @media screen and (min-width: $md) {
      font-size: 22px;
    }
  }

  &__item-about {
    margin-bottom: 20px;
  }

  &__item-link {
    cursor: pointer;
    word-wrap: break-word;
    text-decoration: none;
    word-break: break-all;
    color: #23c1c1;
    font-weight: 700;
    padding: 3px 0;
  }

  &__bullets-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    align-items: center;
  }

  .glide__bullets {
    margin: 0 10px;
  }

  &__slider-bullet {
    width: 12px;
    height: 12px;
    background: #cccccc;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  .glide__bullet--active {
    background-color: $accent-color;
  }

  .slider__btn {
    padding: 10px;

    &--next {
      transform: rotate(180deg);
    }
  }
}
