.case {
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  &__caption {
    margin-bottom: 40px;
  }

  &__iterarion {
    margin-bottom: 40px;
  }

  &__business-content {
    margin-bottom: 40px;
  }

  &__subcaption {
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    margin-bottom: 20px;

    @media screen and (max-width: $md) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__subcaption-sm {
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  strong {
    font-size: inherit;
    font-weight: 700;
    color: #191919;
  }

  &__banner {
    width: 100%;
  }

  .case-banner__container {
    height: 100%;
  }

  .case-banner {
    height: 100%;
    padding: 35px 0;

    img {
      @media screen and (max-width: $md) {
        max-width: 146px;
        height: auto;
      }
    }

    &__col {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__name,
    &__text {
      color: #ffffff;
    }

    &__name {
      font-weight: 700;
      font-size: 36px;
      line-height: 49px;

      @media screen and (max-width: $md) {
        font-size: 18px;
        line-height: 25px;
      }
    }
    &__text {
      text-align: center;
      max-width: 570px;
      font-weight: 300;
      font-size: 24px;
      line-height: 33px;

      @media screen and (max-width: $md) {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

  .status__item,
  .difference__item,
  .iteration-title {
    padding-top: 8px;
    position: relative;

    @media screen and (max-width: $lg) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $md) {
      padding-top: 20px;
    }
    &::before {
      background-color: #23c1c1;
      content: '';
      height: 4px;
      left: 0;
      position: absolute;
      top: 0;
      width: 50px;

      @media screen and (min-width: $md) {
        height: 6px;
      }
    }
  }

  .technologies-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;

    @media screen and (max-width: $lg) {
      justify-content: center;

      & > div {
        padding: 0 20px;
        margin-bottom: 30px;
      }
    }
  }
  .technologies-items {
    display: flex;
    justify-content: space-between;
    text-align: center;

    img {
      @media screen and (max-width: $md) {
        width: 50px;
        height: 50px;
      }
    }

    &__name {
      text-align: center;
      font-size: 24px;
      line-height: 33px;
      font-weight: 700;
      color: #191919;
      margin-bottom: 40px;

      @media screen and (max-width: $md) {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 15px;
      }
    }
    &__multiple-item {
      &:not(:last-child) {
        margin-right: 75px;
        position: relative;

        &::after {
          content: '';
          width: 1px;
          background: #c4c4c4;
          border-radius: 8px;
          height: 60px;
          position: absolute;
          top: 10%;
          left: 135%;
        }

        &::before {
          content: 'and';
          font-weight: 200;
          font-size: 18px;
          line-height: 25px;
          color: #c4c4c4;
          position: absolute;
          bottom: 0;
          left: 119%;
        }
      }
    }
  }

  .advantages {
    &__wrapper {
      padding: 40px;
      background: #f7f7f7;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__benefit {
      max-width: 260px;
      font-weight: 200;
      font-size: 24px;
      line-height: 33px;
      margin: 0 auto 40px auto;

      @media screen and (max-width: $md) {
        font-size: 18px;
        line-height: 25px;
        max-width: 160px;
        margin: 0 auto 25px auto;
      }
    }

    &__text {
      margin-bottom: 40px;

      @media screen and (max-width: $md) {
        margin-bottom: 20px;
      }
    }

    .list {
      text-align: left;
    }
  }

  &__slider-img {
    width: inherit;
    width: 100%;
    // max-width: 640px;
    height: auto;
  }

  &__bullets-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }

  &__slider-bullet {
    width: 12px;
    height: 12px;
    background: #cccccc;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  .glide__bullet--active {
    background-color: $accent-color;
  }

  &__slider-text {
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
  }

  .user-design__image-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $lg) {
      padding-top: 20px;
    }
  }

  .user-design__image {
    width: 33.3%;
    height: auto;
  }

  .user-review {
    &__all-wrapper {
      @media screen and (max-width: $md) {
        margin-bottom: 30px;
      }
    }
    &__wrapper {
      display: flex;
    }

    &__quote {
      margin-right: 30px;
    }
  }
}

// .case-header {
//   @media screen and (min-width: $xl) {
//     max-width: 400px;
//   }
// }
