.managment {
   &:not(:last-child) {
      margin-bottom: 45px;

      @media screen and (min-width: $lg) {
         margin-bottom: 80px;
      }

      @media screen and (min-width: $xl) {
         margin-bottom: 160px;
      }
   }

   &__caption {
      margin-bottom: 30px;
   }

   &__row {
      &:not(:last-child) {
         margin-bottom: 20px;

         @media screen and (min-width: $lg) {
            margin-bottom: 60px;
         }
      }
   }

   &__col {
      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }
}
