.tabs {
  &__list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    overflow-x: auto;

    @media screen and (min-width: $lg) {
      align-items: center;
      flex-direction: row;
    }
  }

  &__panel {
    animation: fadeEffect 0.6s;
    display: none;

    &:not(:last-child) {
      margin-bottom: 60px;
    }

    &.is-active {
      display: block;
    }
  }

  li {
    border-bottom: 3px solid transparent;
    position: relative;
    transition: all ease-in-out 0.5s;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &.is-active {
      &::after {
        background-color: #23c1c1;
        bottom: 0;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        transition: all ease-in-out 0.5s;
        width: 100%;
      }
    }

    &:hover,
    &:focus {
      &::after {
        background-color: #ce3c3c;
        bottom: 0;
        content: "";
        height: 3px;
        left: 50%;
        position: absolute;
        width: 10px;
      }
    }

    @media screen and (min-width: $lg) {
      width: auto;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    border-bottom: 2px solid transparent;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px 15px;
    padding-left: 0;
    white-space: nowrap;

    @media screen and (min-width: $lg) {
      font-size: 18px;
      line-height: 25px;
      padding: 12px 30px;
    }
  }
}
