.blog-post-prev {
  cursor: pointer;
  height: 256px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;

  .img-responsive {
    background-color: transparent !important;
  }

  @media screen and (max-width: $md) {
    height: 196px;
  }

  @media screen and (min-width: $md) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $lg) {
    margin-bottom: 40px;
  }

  &::after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:hover {
    .blog-post-prev__image {
      transform: scale(1.05);
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  &__caption {
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
    color: #000;
    margin-bottom: 24px;
    transition: all ease-in-out 0.2s;

    @media screen and (max-width: $md) {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      color: #23c1c1;
    }

    &:active {
      color: #23c1c1;
    }
  }

  &__text {
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
    color: #000;

    p {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  &__image {
    height: 256px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    transition: all 1s ease-out;
    width: 100%;

    @media screen and (max-width: $md) {
      height: 196px;
    }
  }
}
