.header {
  margin-bottom: 30px;
  position: relative;

  .header__caption,
  .header__sub-caption {
    margin-bottom: 12px;
    strong {
      font-weight: inherit;
      color: #23c1c1;
    }
  }

  @media screen and (min-width: $md) {
    margin-bottom: 45px;
  }

  @media screen and (min-width: $lg) {
    margin-bottom: 80px;
    min-height: 225px;
  }

  @media screen and (min-width: $xl) {
    // margin-bottom: 100px;
    min-height: 350px;
  }

  @media screen and (min-width: $hd) {
    min-height: 350px;
  }

  &--sub-page {
    margin-bottom: 20px;

    @media screen and (min-width: $lg) {
      margin-bottom: 70px;
      min-height: 90px;
    }
  }

  &__nav {
    margin-left: auto;
    padding: 20px 0;
  }

  &__top-line {
    display: none;

    @media screen and (min-width: $lg) {
      display: block;
      margin-bottom: 45px;
    }
  }

  &__bottom-line {
    justify-content: space-between;
  }

  &__col-text {
    margin-bottom: 20px;

    @media screen and (min-width: $md) {
      margin-bottom: 0;
    }
  }

  &__image-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;

    img {
      background-color: transparent;
    }

    @media screen and (min-width: $lg) {
      position: absolute;
      right: -110px;
      top: 0;
    }

    @media screen and (min-width: $xl) {
      display: block;
      right: -270px;
    }

    @media screen and (min-width: $hd) {
      right: -326px;
    }
  }
}

.header--main {
  margin-bottom: 80px;
  min-height: 240px;

  @media screen and (min-width: $hd) {
    margin-bottom: 110px;
  }

  .caption--accent {
    color: #23c1c1;
  }

  .header__caption,
  .header__sub-caption {
    margin-bottom: 20px;
    strong {
      font-weight: inherit;
      color: #23c1c1;
    }

    @media screen and (min-width: $lg) {
      max-width: 660px;
    }

    @media screen and (min-width: $xl) {
      max-width: 650px;
    }

    @media screen and (min-width: $hd) {
      max-width: 100%;
    }
  }

  .header__top-line {
    @media screen and (min-width: $lg) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: $hd) {
      margin-bottom: 45px;
    }

    @media screen and (min-width: $xl) {
      margin-bottom: 45px;
    }
  }

  .header__col-text {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 0;

    @media screen and (min-width: $md) {
      margin-bottom: 0;
    }

    @media screen and (min-width: $lg) {
      height: 390px;
    }

    @media screen and (min-width: $xl) {
      height: 490px;
    }

    @media screen and (min-width: $hd) {
      height: 690px;
      margin-bottom: 0;
    }
  }

  .header__image-wrapper {
    @media screen and (min-width: $lg) {
      height: 390px;
      right: -140px;
    }

    @media screen and (min-width: $xl) {
      height: 590px;
      right: -240px;
    }

    @media screen and (min-width: $hd) {
      height: 790px;
      right: -570px;
    }

    .img-responsive {
      max-height: 724px;
    }
  }

  .header__image {
    @media screen and (min-width: $lg) {
      height: 390px;
    }

    @media screen and (min-width: $xl) {
      height: 590px;
    }

    @media screen and (min-width: $hd) {
      height: 790px;
    }
  }
}
