@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/NunitoSans/NunitoSans-Light.woff") format("woff");
}

@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NunitoSans/NunitoSans-Regular.woff") format("woff");
}

@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/NunitoSans/NunitoSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/NunitoSans/NunitoSans-Bold.woff") format("woff");
}

@font-face {
  font-family: NunitoSans;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/NunitoSans/NunitoSans-Black.woff") format("woff");
}
