// Colors
$text-color: #000;
$title-color: #1a1a1a;
$text-color: #191919;
$accent-color: #23c1c1;
$bg-color: rgb(100, 121, 118);
$grey: #f7f7f7;
$light-grey: #CCCCCC;
$red: #ce3c3c;
$white: #fff;

// Sizes
$base-font-size: 18px;
$base-line-height: 25px;
$content-size: 1200px;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$hd: 1400px;

$grid-gutter-width: 15px;
$grid-columns: 12;
$gutter: $grid-gutter-width;

$NunitoSans: "NunitoSans", "Arial", sans-serif;
