.menu-close-btn {
   height: 30px;
   transition: all ease-in-out 0.3s;
   width: 45px;

   &:hover,
   &:focus {
      opacity: 0.6;
   }

   &__icon {
      height: 30px;
      transform: rotate(-180deg);
      width: 45px;
   }
}
