.news-page {
  @media screen and (min-width: $lg) {
    .info-bar {
      margin-bottom: 30px;
    }
  }
}

.show-more {
  display: flex;
  margin: 0 auto;
  max-width: 300px;
  cursor: pointer;

  &--news {
    margin-bottom: 60px;
  }

  &--sub-news {
    width: 170px;
    margin: 0;

    @media screen and (max-width: $md) {
      margin-bottom: 20px;
    }
  }

  &__button {
    &:hover,
    &:focus {
      background-color: #ce3c3c;
    }

    &:hover:disabled,
    &:focus:disabled {
      background-color: #ccc;
    }
  }

  &__button {
    background-color: #ccc;
    border: 18px solid #fff;
    box-sizing: content-box;
    cursor: pointer;
    height: 12px;
    position: relative;
    transition: 0.2s ease-in-out;
    width: 12px;
    span {
      font-size: 20px;
      font-weight: 700;
      line-height: 33px;
      position: absolute;
      display: inline-block;
      text-align: center;
      top: -12px;
      left: 30px;
      width: 228px;

      @media screen and (max-width: $sm) {
        font-size: 16px;
      }
    }

    .span--sub-news {
      width: 115px;
      font-size: 18px;
    }
  }
}
