.article-prev {
  &:not(:last-child) {
    margin-bottom: 45px;
  }

  &__arrow {
    fill: #fff;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
  }

  @media screen and (min-width: $lg) {
    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }

  &__caption {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 25px;

    @media screen and (min-width: $md) {
      font-size: 22px;
      line-height: 33px;
    }

    @media screen and (min-width: $lg) {
      font-size: 22px;
      line-height: 33px;
      margin-bottom: 15px;
    }

    @media screen and (min-width: $xl) {
      font-size: 24px;
      line-height: 38px;
    }
  }

  &__description {
    margin-bottom: 10px;

    @media screen and (min-width: $lg) {
      margin-bottom: 20px;
    }
  }

  &__image-wrapper {
    margin-bottom: 20px;
    position: relative;

    @media screen and (min-width: $md) {
      margin-bottom: 0;
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;
  }
}
