.info-bar {
  display: inline-flex;
  justify-content: flex-start;
  height: 35px;
  margin-bottom: 30px;
  position: relative;
  top: 0;
  width: auto;

  @media screen and (min-width: $lg) {
    height: 50px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $xl) {
    margin-bottom: 60px;
  }

  &::after {
    background-color: $grey;
    content: "";
    height: 35px;
    position: absolute;
    right: -100%;
    top: 0;
    width: 1000vw;
    z-index: -1;

    @media screen and (min-width: $lg) {
      height: 50px;
      right: 0;
    }
  }

  & > * {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__date {
    font-size: 14px;
    line-height: 35px;

    @media screen and (min-width: $lg) {
      display: inline-block;
      font-size: 16px;
      font-weight: 200;
      line-height: 50px;
    }
  }

  &__title {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    margin-left: auto;
    padding-left: 12px;
    position: relative;

    @media screen and (min-width: $lg) {
      color: $title-color;
      display: inline-block;
      font-size: 18px;
      line-height: 50px;
      padding-right: 30px;
    }

    &::before {
      background-color: $accent-color;
      content: "";
      height: 6px;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
    }
  }
}
