.service {
  &:not(:last-child) {
    margin-bottom: 45px;
  }

  @media screen and (min-width: $lg) {
    &:not(:last-child) {
      margin-bottom: 160px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $lg) {
      &:not(:last-child) {
        margin-bottom: 63px;
      }

      &:nth-last-of-type(-n + 2) {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: $xl) {
      &:nth-last-of-type(-n + 2) {
        margin-bottom: 0;
      }
    }

    .service-kind-container {
      border-top: 6px solid $accent-color;
      padding-top: 30px;
    }

    &-list {
      font-size: 14px;
      line-height: 19px;
      width: 50%;

      @media screen and (min-width: $md) {
        font-size: 16px;
        line-height: 21px;
      }

      @media screen and (min-width: $lg) {
        font-size: 18px;
        line-height: 25px;
      }
    }
  }

  &__item-caption {
    display: block;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 20px;

    @media screen and (min-width: $md) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $lg) {
      margin-bottom: 30px;
    }
  }

  &__item-text {
    margin-bottom: 20px;

    @media screen and (min-width: $md) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $lg) {
      margin-bottom: 30px;
    }
  }

  &__row {
    margin-bottom: 20px;
  }

  .service-prev__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;
  }
}
