.news-post {
  position: relative;

  &__row {
    margin-bottom: 60px;
  }

  &__caption {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 33px;

    @media screen and (min-width: $md) {
      font-size: 24px;
      line-height: 33px;
    }

    @media screen and (min-width: $lg) {
      font-size: 28px;
      line-height: 38px;
    }

    @media screen and (min-width: $xl) {
      font-size: 30px;
      line-height: 49px;
    }
  }

  &__sub-caption {
    margin-bottom: 20px;

    @media screen and (min-width: $lg) {
      margin-bottom: 40px;
    }
  }

  &__text-group {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__paragraph {
    font-weight: 200;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__image {
    margin-bottom: 20px;

    @media screen and (min-width: $lg) {
      margin-bottom: 40px;
    }
  }

  &__image-wrapper {
    // margin-bottom: 20px;

    @media screen and (min-width: $lg) {
      // margin-bottom: 60px;
    }
  }
}

.slug-service-caption {
  @media screen and (max-width: $lg) {
    font-size: 20px;
  }
}
