.site-menu {
  @media screen and (min-width: $lg) {
    position: fixed;
    z-index: 20;
  }

  &__close-btn {
    margin-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    margin: 0 auto;
    padding: 0 15px;

    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 100%;
      height: 100%;
      flex-direction: column;
    }
    @media (max-width: 576px) {
      padding: 0;
    }
  }

  &__panel {
    align-items: center;
    background-color: $accent-color;
    background-repeat: no-repeat;
    bottom: 0;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 0 15px;
    position: relative;
    width: 100%;
    z-index: 101;

    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: 992px) {
      margin-bottom: 30px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: $lg) {
      margin-bottom: 0;
    }

    &__logo {
      display: inline-flex;
      height: 24px;
      width: 122px;

      @media screen and (min-width: $lg) {
        height: auto;
        width: auto;
      }
    }

    @media screen and (min-width: $lg) {
      background-image: url('/images/general/pattern.svg');
      bottom: 0;
      display: flex;
      flex-direction: column;
      height: auto;
      margin-bottom: 0;
      padding-bottom: 120px;
      padding-top: 80px;
      position: fixed;
      top: 0;
      width: 100px;
    }

    @media screen and (min-width: $hd) {
      width: 100px;
    }

    &-slogan {
      display: none;

      @media screen and (min-width: $lg) {
        color: $white;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        transform: rotate(-90deg);
        white-space: nowrap;
      }
    }
  }
}
