.our-contact {
  &__image-wrapper {
    @media screen and (max-width: $xl) {
      margin-bottom: 30px;
    }
  }

  &__row {
    flex-wrap: wrap;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 65px;

      @media screen and (min-width: $lg) {
        margin-bottom: 80px;
      }

      @media screen and (min-width: $xl) {
        margin-bottom: 160px;
      }
    }
  }

  &__title-wrapper {
    margin-bottom: 40px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 80%;
      height: 1px;
      background-color: $light-grey;
      bottom: -25px;
      left: 0;
    }
  }

  &__title {
    font-size: 22px;
    line-height: 33px;
    font-weight: 800;

    @media screen and (min-width: $md) {
      font-size: 24px;
    }

    @media screen and (min-width: $lg) {
      font-size: 26px;
      line-height: 38px;
    }

    @media screen and (min-width: $xl) {
      font-size: 28px;
      line-height: 46px;
    }
  }

  &__item {
    font-weight: 200;
    font-size: 20px;
    line-height: 44px;
    margin-bottom: 20px;

    @media screen and (min-width: $lg) {
      font-size: 24px;
      line-height: 33px;
    }

    &--person {
      text-transform: uppercase;
      font-size: 24px;
      line-height: 55px;
      font-weight: 400;
      @media screen and (min-width: $lg) {
        font-size: 28px;
        line-height: 33px;
      }
    }
  }

  &__link {
    transition: 0.2s ease-in-out;
    white-space: nowrap;
  }

  &__social {
    margin-top: 30px;
    a {
      width: 49px;
      height: 49px;
      margin-right: 48px;
      cursor: pointer;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
