.caption {
  color: #1a1a1a;

  &--accent {
    color: $accent-color;
  }

  &--h1 {
    font-size: 34px;
    line-height: 46px;

    @media screen and (min-width: $lg) {
      font-size: 42px;
      line-height: 52px;
    }

    @media screen and (min-width: $xl) {
      font-size: 45px;
      line-height: 60px;
    }

    @media screen and (min-width: $hd) {
      font-size: 53px;
      line-height: 69px;
    }
  }

  &--h2 {
    font-size: 24px;
    line-height: 33px;

    @media screen and (min-width: $md) {
      font-size: 28px;
      line-height: 38px;
    }

    @media screen and (min-width: $lg) {
      font-size: 32px;
      line-height: 44px;
    }

    @media screen and (min-width: $xl) {
      font-size: 36px;
      line-height: 49px;
    }
  }

  &--h3 {
    font-size: 18px;
    line-height: 25px;

    @media screen and (min-width: $xl) {
      font-size: 22px;
      line-height: 33px;
    }
  }

  &--200 {
    font-weight: 200;
  }

  &--400 {
    font-weight: 400;
  }

  &--600 {
    font-weight: 600;
  }

  &--700 {
    font-weight: 700;
  }

  &--800 {
    font-weight: 800;
  }
}
