// popup classes
.popup-is-active {
  animation: bounce 0.6s;
}

.fade {
  animation: fade 1s;
}

.popup-invalid {
  animation: shake 0.6s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -500%);
  }

  70% {
    transform: translate(-50%, -30%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-55%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-45%, -50%);
  }
}
