.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 25;
  background-color: rgba(35, 193, 193, 0.7);
  transition: all ease-in-out 0.2s;
}

.contact-popup {
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  left: 0;
  margin: 0 auto;
  // padding: 60px 30px 40px;
  padding: 50px 70px 60px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 20;
  width: 95vw;
  max-height: 90vh;
  overflow-y: scroll;

  @media screen and (min-width: $sm) {
    max-height: auto;
    overflow-y: auto;
  }
  @media screen and (min-width: $md) {
    max-width: 770px;
  }

  @media screen and (max-width: $md) {
    padding: 40px 30px;
  }

  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__caption {
    margin-bottom: 20px;
  }

  &__text {
    font-weight: 200;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  &__form-body {
    width: 100%;
  }

  &__close-icon {
    fill: #191919;
    height: 17px;
    width: 17px;
  }

  &__close-btn {
    position: absolute;
    top: 17px;
    right: 30px;
    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__text-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    @media screen and (min-width: $sm) {
      margin-bottom: 30px;
    }
  }

  &__text-field {
    width: 100%;
  }

  &__text-policy {
    font-size: 14px;
    line-height: 19px;
    a {
      color: #191919;
      text-decoration: underline;
      transition: 0.35s ease;
      font-weight: 700;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__half-width {
    width: 100%;
    &:first-of-type {
      margin-bottom: 20px;
    }
    @media screen and (min-width: $sm) {
      width: 47%;
      &:first-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__submit {
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
  }
}

.popup-field {
  position: relative;

  @include placeholder {
    color: #ccc;
  }

  &__label {
    font-size: 18px;
    font-weight: 700;
    left: 0;
    line-height: 25px;
    position: absolute;
    top: -20px;
  }

  &__input {
    border: 2px solid #cccccc;
    border-radius: 4px;
    background: #fafafa;
    color: #191919;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    padding: 13px;
    width: 100%;

    &--email {
      margin-bottom: 15px;
    }

    &--btn {
      &:disabled {
        border: 2px solid #cccccc;
        color: #ccc;
      }
      border: 2px solid #23c1c1;
      color: #23c1c1;
    }
  }

  &__subtext {
    font-weight: 200;
    font-size: 13px;
    line-height: 18px;
    color: #191919;
    padding: 0 10px;
  }

  &__input--phone {
    outline: none;
    padding: 6px 0;

    .nested-dropdown {
      border: 1px solid #f5f5f5;
    }
  }

  .popup-field__input--phone .nested-input {
    width: 100%;
    border: none;
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    &::placeholder {
      color: #ccc;
    }
  }

  &__textarea {
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: #fafafa;
    color: #191919;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    padding: 13px;
    width: 100%;
    height: 120px;
    resize: none;
  }
}

.error {
  border: 2px solid #f6333f;
  color: #f6333f;

  &::placeholder {
    color: #f6333f;
  }
}

.agreed {
  border: 2px solid #23c1c1;
  color: #23c1c1;

  &::placeholder {
    color: #23c1c1;
  }
}

.checkbox-wrap {
  display: block;
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 15px;
  border-radius: 4px;

  input:checked ~ span:after {
    display: block;
  }

  span:after {
    left: 4px;
    top: 0px;
    width: 7px;
    height: 11px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  input:checked ~ span {
    background: #23c1c1;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background: #fff;
    border-radius: 4px;

    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }
}
