.sidebar {
  display: none;
  margin-top: 350px;

  @media screen and (min-width: $lg) {
    display: block;
  }

  // &__item {

  //   &:not(:last-child) {
  //     margin-bottom: 350px;
  //   }
  // }

  &__image-wrapper {
    margin-bottom: 10px;
  }

  &__image-description {
    padding: 0 15px;
    font-size: 14px;
    font-weight: 200;
    line-height: 19px;
  }
}

.sidebar-service {
  margin-bottom: 250px;
  // margin-left: 20px;

  @media screen and (max-width: $lg) {
    margin-bottom: 0;
    padding-top: 50px;
    // margin-left: 0;
  }
}

.sidebar-service-sm {
  margin-bottom: 50px;
  // margin-left: 20px;

  @media screen and (max-width: $lg) {
    padding-top: 50px;
    // margin-left: 0;
  }
}

.sidebar-scr {
  margin-bottom: 50px;
  @media screen and (max-width: $md) {
    margin-bottom: 0;
  }

  @media screen and (max-width: $lg) {
    padding-top: 50px;
    // margin-left: 0;
  }
}

.sidebar__item.sidebar__item--image {
  padding-top: 350px;
}
