.csr-section {
   &:not(:last-child) {
      margin-bottom: 45px;

      @media screen and (min-width: $lg) {
         margin-bottom: 80px;
      }
   }

   &__caption {
      &:not(:last-child) {
         font-size: 24px;
         line-height: 33px;
         margin-bottom: 10px;

         @media screen and (min-width: $xl) {
            margin-bottom: 30px;
         }
      }
   }

   &__text-block {
      &:not(:last-child) {
         margin-bottom: 30px;
      }

      @media screen and (min-width: $lg) {
         &:not(:last-child) {
            margin-bottom: 0;
         }
      }

      & > * {
         &:not(:last-child) {
            margin-bottom: 30px;
         }
      }
   }
}
