.text-pannel {
  border-left: 4px solid $accent-color;
  font-size: 22px;
  font-weight: 800;
  line-height: 33px;
  padding-left: 16px;

  @media screen and (max-width: $md) {
    font-size: 20px;
  }

  &--desktop-hide {
    @media screen and (min-width: $lg) {
      display: none;
    }
  }
}
