@import './utils/vars';
@import './utils/mixins';
@import './utils/fonts';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  font-family: $NunitoSans;
  font-size: 14px;
  line-height: 19px;
  font-weight: 200;
  margin: 0;
  min-width: 320px;
  padding: 0;

  @media screen and (min-width: $md) {
    font-size: 18px;
    line-height: 25px;
  }

  &.fixed {
    overflow: hidden;
  }
}

.facebook_iframe {
  width: 50% !important;
}
.page-wrapper {
  overflow-x: hidden;

  @media screen and (min-width: $lg) {
    padding-left: 100px;
    // padding-left: 120px;
    // padding-left: 0;
  }

  @media screen and (min-width: 1500px) {
    padding-left: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

button,
button:active,
button:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

input:active,
input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.index-page {
  border: 10px solid $accent-color;
  height: 100vh;
}

ul.p-list {
  padding-left: 60px;
  padding-top: 60px;

  li {
    font-size: 24px;
    font-weight: 400;
    list-style-type: disc;
    margin-bottom: 16px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.img-responsive {
  background-color: #f7f7f7;
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;

  &--cover {
    object-fit: cover;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none;
}

strong {
  font-size: inherit;
  color: #23c1c1;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.container {
  padding: 0 15px;

  @media (min-width: 992px) {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }

  @media (min-width: 1200px) {
    max-width: 1000px !important;
  }

  @media screen and (min-width: 1500px) {
    max-width: $xl;
  }

  @media screen and (min-width: 1700px) {
    max-width: 1200px !important;
  }
}

.no-match {
  width: 100%;
  padding-top: 10%;
  color: #fff;
  max-width: 450px;

  &__caption {
    font-size: 56px;
    line-height: 76px;
    font-weight: 800;
    margin-bottom: 20px;

    @media screen and (max-width: $lg) {
      font-size: 42px;
      font-weight: 700;
      line-height: 33px;
    }

    @media screen and (max-width: $md) {
      font-size: 30px;
    }
  }

  &__text {
    width: 100%;
    max-width: 370px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 60px;
  }

  &__link {
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;

    a {
      margin-left: 8px;
    }
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.section-margin-content {
  margin-bottom: 55px;

  @media screen and (min-width: $lg) {
    margin-bottom: 80px;
  }

  @media screen and (min-width: $xl) {
    margin-bottom: 160px;
  }
}

.section-margin-content-sm {
  margin-bottom: 55px;

  @media screen and (min-width: $lg) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $xl) {
    margin-bottom: 100px;
  }
}

.section-margin {
  // margin-bottom: 45px;

  // @media screen and (min-width: $lg) {
  margin-bottom: 80px;
  // }

  @media screen and (min-width: $xl) {
    margin-bottom: 160px;
  }
}

.news-slide-text {
  @media screen and (max-width: $md) {
    padding-top: 25px;
  }
}

.section-margin-top {
  margin-bottom: 45px;
  padding-top: 45px;

  @media screen and (min-width: $lg) {
    margin-bottom: 80px;
    padding-top: 0;
  }

  @media screen and (min-width: $xl) {
    margin-bottom: 160px;
    padding-top: 80px;
  }
}

.mb-120 {
  margin-bottom: 120px;

  @media screen and (max-width: $md) {
    margin-bottom: 80px;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

// Modules
@import './modules/modules';
