.seo-content-wrap {
  padding: 0 25px !important;
}
.ceo {
  &:not(:last-child) {
    margin-bottom: 45px;
  }
  @media screen and (min-width: $xl) {
    &:not(:last-child) {
      margin-bottom: 120px;
    }
  }

  &__slogan {
    display: block;
    font-size: 14px;
    line-height: 150%;
    font-weight: 200;
    margin-bottom: 22px;

    @media screen and (min-width: $md) {
      font-size: 18px;
      line-height: 33px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: $lg) {
      font-size: 22px;
    }
  }

  &__person {
    margin-bottom: 30px;
  }

  &__caption {
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 20px;
    white-space: pre-wrap;
  }

  &__image-wrapper {
    margin-bottom: 24px;
    @media screen and (min-width: $lg) {
      margin-bottom: 0;
    }
  }
}
